<!DOCTYPE html>
<head>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <input class="login-email-input" name="email" type="text" placeholder="email@domain.com">
                <input class="password-email-input" name="password" type="password" placeholder="password"> 
                <button>LOGIN</button>
            </form>
        </div>
    </div>
</body>